.container {
    max-width: 120rem;  // 1200px;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem; // TESTING
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--color-grey-light-2);

    // since .header is the parent element of the the logo, search box and user navigation.
    display: flex;
    
    // since we want logo at the left extreme, search box in the middle and user-nav at the right extreme.
    justify-content: space-between;

    // We will now align items along the cross axis as follows
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;  // same as flex-basis: 18%;
}

.hotel-view {
    background-color: var(--color-white);
    
    flex: 1; // flex-grow: 1; The element occupies the remaining space in the .content flex container.
}